<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DefaultConnection"
     connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-eRaceWeb-20191120074933.mdf;Initial Catalog=aspnet-eRaceWeb-20191120074933;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->


  <add name="GroceryList"
         connectionString="data source=.;initial catalog=GroceryList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection"
   connectionString="Data Source=.;Initial Catalog=GroceryList;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>